@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark: #171717;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
}



.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --sidebar-background: rgba(10, 10, 10, 0.8);
  --sidebar-border: #262626;
  --sidebar-gradient-start: rgba(42, 42, 42, 0.8);
  --sidebar-gradient-end: rgba(10, 10, 10, 0.8);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --sidebar-background: rgba(255, 255, 255, 0.8);
  --sidebar-border: #e5e5e5;
  --sidebar-gradient-start: rgba(255, 255, 255, 0.8);
  --sidebar-gradient-end: rgba(245, 245, 245, 0.8);

  --primary: #FF5722;
  --primary-foreground: #ffffff;
  --primary-hover: #E64A19;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}